@import './components/normalize';
@import './components/var-s';
@import './components/fonts';
@import './components/mixines';

:root {
	font-size: 62.5%;
}
.container-b {
	max-width: 1800px;
	margin: 0 auto;
	padding: 0 15px;
}
.container-s {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}
.wrapper {
	position: relative;
	overflow: hidden;
}
.header {
}
.bar {
	background-color: $lightBlack;
	font-size: 1.3rem;
	font-family: $monts;
	text-transform: capitalize;
}
.banner {
	padding: 6rem 1rem;
}

.btn {
	padding: 1.8em;
	font-size: 1.6rem;
	font-family: $monts;
	text-transform: uppercase;
	text-align: center;
	line-height: 1em;
	color:	$dark;
	background-color: transparent;
	border: .2rem solid $dark;
	outline: none;
	cursor: pointer;
	transition: all .3s linear;

	&:hover {
		color: $white;
		background-color: $lightBlue;
		border-color: $lightBlue;
	}
}

.kind-of-clothes {
	font-family: $monts;
	text-transform: uppercase;
	text-align: left;
	font-size: 1.2rem;

	// .kind-of-clothes__items-top-title
	&__items-top-title {
		margin: 0 0 3.5rem 0;
		font-weight: normal;
		color: $lightBrown;
	}
	// .kind-of-clothes__items
	&__items {

		&:not(:last-child) {
			margin: 0 0 2rem 0;
		}
	}
	// .kind-of-clothes__link
	&__link {
		font-weight: 300;
		color: $grey;
		transition: .2s ease-in-out;

		&:hover {
			color: $lightBrown;
		}
	}
}
.discount-banner {
	background-color: $lightBlack;
	color: $white;
	font-size: 36px;
	font-family: $monts;
	text-transform: uppercase;
	line-height: 1.333;
	text-align: center;
	// .discount-banner__top-txt
	&__top-txt {
		font-weight: bold;
	}
	// .discount-banner__bttm-txt
	&__bttm-txt {
	}
}

.main {
}

.card-body {
	font-family: $monts;

	// .card-body__title
	&__title {
		font-size: 1.8rem;
		color: $lightBrown;
		text-transform: uppercase;
	}

	// .card-body__subtitle
	&__subtitle {
		font-size: 1.3rem;
		color: $darkerGrey;
		text-transform: uppercase;
	}

	// .card-body__txt
	&__txt {
		font-size: 1.5rem;
		font-family: "Roboto";
		color: $grey;
		line-height: 1.467;
	}
}
.pop-up {
	position: absolute;
	top: 0;
	right: 0;
	transform: translateX(100%);
	display: inline-block;
	max-width: 200px;
	padding: .5em;
	font-family: $monts;
	font-size: 1.6rem;
	color: $white;
	text-align: center;
	text-transform: capitalize;
	background-color: green;
	z-index: 99;

	&_show {
		animation: pop-up 1.5s linear 1;

		@keyframes pop-up {
			100% {
				transform: translateX(100%);
			}
			20% {
				transform: translateX(-100%);
			}
			80% {
				transform: translateX(-100%);
			}
		}
	}
}
.pop-up-link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba($black, .3);
	z-index: 10;
	// .pop-up-link__inner-wrap
	&__inner-wrap {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 1.5rem;
		min-width: 15%;
		min-height: 20%;
		@include flex(center, center);
		background-color: $white;
		border-radius: .5rem;
	}

	// .pop-up-link__text
	&__text {
		text-transform: capitalize;
		font-family: $monts;
		font-size: 1.4rem;
		color: $black;
	}

	// .pop-up-link__link
	&__link {
		text-transform: uppercase;
		color: $lightBlue;
		font-weight: bold;
		transition: .15s linear;
		&:hover {
			text-decoration: underline;
		}
	}
}


.product-price {
  font-family: $monts;
  color: $greyWhite;
  text-transform: uppercase;
	font-size: 2.1rem;
	// .product-price__price
	&__price {
		padding: 0 0 0 1rem;
		position: relative;
		line-height: 1em;
		// .product-price__price_before
		&_before {
			text-decoration: line-through;
			margin: 0 1.4rem 0 0;
		}

		&::before {
			content: '£';
			position: absolute;
			top: 0;
			left: 0;
			font-size: .5em;
		}
	}
}
@import './components/loader';