@import './mixines';
@import './var-s';

.top-bar {
	@include flex(space-between, center);

	&__left-wrap {
		flex: 1 0;
		@include flex(space-between, center);
		color: $greyWhite;
	}
}

.currency {
	cursor: pointer;
	&__arrow {
		padding: 0 0 0 .3rem;
	}
}
.users-add {

	// .users-ass__link
	&__link {
		padding: 0 1.7rem;
		transition: .3s ease-in;

		&:hover {
			color: $lightBlue;
		}
	}
}

@import './cart';

