@import './var-s';
@import './mixines';
.promo {
	padding: 17rem 0;
	background: url('../images/brand-promo-bg.jpg') center/cover no-repeat;
	font-family: $monts;
	color: $white;
	text-align: center;

	// .brand-promo__title
	&__title {
		margin: 0 0 1em 0;
		font-size: 4.8rem;
		font-weight: bold;
		text-transform: uppercase;
	}

	// .brand-promo__slogan
	&__slogan {
		margin: 0;
		font-size: 3rem;
		text-transform: uppercase;
	}
}
