@import './var-s';
@import './mixines';

.change-wrap {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba($black, .2);
	z-index: 11;

	&_hidden {
		display: none;
	}
}

.change {
	padding: 1.5rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -100%);
	background-color: $white;
	z-index: 11;
	// .change__btn
	&__btn {
		border: none;
		outline: none;
		cursor: pointer;
		margin: 0 .3em 0 0;
		padding: .7em 1em;
		background-color: rgb(74, 119, 243);
		color: $white;
		font-family: $monts;
		font-size: 1.4rem;
		text-transform: capitalize;
		border-radius: .2em;
	}
}