// variables
// fonts
$proxima : 'proxima';
$monts : 'montserat';
// fonts

// colors
$white : #fff;
$black : #000;
$lightBlack : #333333;
$greyWhite : #999999;
$lightBlue : #00c8c8;
$darkBlack : #222222;
$lightSilver : #f8f8f8;
$lightBrown : #575153;
$grey : #8d8d8d;
$darkGrey : #989898;
$darkWhite : #e7e7e7;
$darkBrown : #575153;
$dark : #454647;
$whiterGrey : #eeeeee;
$darkerGrey : #727272;
$pink : #bb5465;
$loaderBG : #1E1E22;
$aside : #2D3240;
$admMain : #F6F4FB;
// colors
// variables