@import './var-s';
@import './mixines';

.view-wrap {
}

.view {
	padding: 6rem 0 10rem;
}
.view-top {
	position: relative;
	padding: 0 0 4rem;
	@include flex(space-between, stretch);
	// .view-top__col
	&__col {
		position: relative;
		flex: 0 0 570 / 1170 * 100%;
	}
}





.slider {
	position: relative;
	overflow: hidden;
	height: 710px;
	&-cont {
		position: absolute;
		top: 0;
		left: 0;
		@include flex(stretch, stretch);
		transition: .4s linear;
	}

	// .slider__img
	&__img {
		display: inline-block;
    height: 100%;
	}

	// .slider__btns
	&__btns {
		padding: .3em .4em;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		font-size: 3rem;
		color: #333333;
		background-color: transparent;
		border: none;
		transition: .3s linear;
		cursor: pointer;
		z-index: 12;

		&:hover {
			color: #fff;
			background-color: #00c8c8;
		}

		// .slider__btns_prev
		&_prev {
			left: 0;
		}

		// .slider__btns_next
		&_next {
			right: 0;
		}
	}
}
.cursor-square {
	width: 100px;
	height: 100px;
	position: absolute;
	border: .1rem solid black;
	z-index: 13;
	opacity: 0;
}
.image-res {
	background-image: url('../images/default.jpg');
	background-repeat: no-repeat;
	background-size: 2500px 2500px;
	position: absolute;
	top: 50px;
	right: 50px;
	width: 500px;
	height: 500px;
	border: .1rem solid black;
	z-index: 12;
	opacity: 0;
}
.descr {
	font-family: $monts;
	// .descr__title
	&__title {
		font-size: 1.8rem;
		color: #575153;
		text-transform: uppercase;
		margin: 0 0 3rem 0;
	}

	// .descr__review
	&__review {
		margin: 0 0 3rem 0;
		@include flex(space-between, flex-start);
		font-size: 1.6rem;
		text-transform: capitalize;
		font-weight: bold;
		color: #727272;

		.descr__reviews {
			padding: 0 0 0 .3rem;
		}
	}

	// .descr__add-review
	&__add-review {
		position: relative;
		transition: .3s ease-in-out;

		&:hover {
			color: #00c8c8;
		}

		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			width: .2rem;
			background-color: #727272;
		}

		&::before {
			left: -1.7rem;
		}
		&::after {
			right: -1.7rem;
		}
	}

	// .descr__socials
	&__socials {
		flex: 0 0 220 / 570 * 100%;
		@include flex(space-between, center);
	}

	// .descr__price
	&__price {
		margin: 0 0 5rem 0;
		& > .product-price {
			font-size: 3rem;
		}
	}

	// .descr__prod-props
	&__prod-props {
		margin: 0 0 4rem 0;
	}

	// .descr__prod-search
	&__prod-search {
		font-size: 1.3rem;
		font-weight: bold;
		color: rgb(87, 81, 83);
		text-transform: uppercase;

		&:not(:last-child) {
			margin: 0 0 2rem 0;
		}

		span {
			padding: 0 0 0 .5rem;
			color: rgb(112, 112, 112);
		}
	}

	// .descr__tags
	&__tags {
		font-size: 1.3rem;
		text-transform: capitalize;
		color: #00c8c8;
	}

	// .descr__prod-info
	&__prod-info {
		margin: 0 0 5rem 0;
		font-size: 1.5rem;
		color: rgb(142, 140, 140);
		line-height: 1.467;
	}

	// .descr__prod-txt
	&__prod-txt {
	}

	// .descr__prod-info-list
	&__prod-info-list {

		& > li {
			padding: 0 0 0 1.5rem;
			position: relative;

			&::before {
				content: '';
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				width: .3rem;
				height: .3rem;
				background-color: rgb(142, 140, 140);
				border-radius: 50%;
			}
		}
	}
}
.descr-bttm {
	font-family: $monts;
}
.selects {
	margin: 0 0 6rem 0;
	@include flex(flex-start, center);

	// .selects__col
	&__col {
		margin: 0 3rem 0 0;
		font-size: 1.3rem;
		font-weight: bold;
		color: rgb(87, 81, 83);
		text-transform: uppercase;
	}
	
	// .selects__select
	&__select {
		text-transform: capitalize;
		margin: 1rem 0 0 0;
		padding: 1em;
		display: block;
	}

	// .selects__options
	&__options {
		color: rgb(152, 152, 152);
	}
}
.btns {
	margin: 0 0 3rem 0;
	@include flex(space-between, center);

	// .btns__btn
	&__btn {
		flex: 1 0;
		padding: 2rem;
		font-size: 1.6rem;
		
		&:not(:last-child) {
			margin: 0 2.5rem 0 0;
		}

		&:hover {
			background-color: #333333;
			border-color: #333333;
		}
		& > i {
			padding: 0 .8rem 0 0;
		}
	}
}

.add-compare {
	max-width: 200px;

	// .add-compare__link
	&__link {
		@include flex(space-between, center);
		font-size: 1.4rem;
		font-weight: bold;
		color: rgb(69, 70, 71);
		text-transform: uppercase;

		& > span {
			position: relative;
			flex: 0 0 3rem;
			height: 3rem;
			border-radius: 50%;
			color: $white;
			background-color: rgb(152, 152, 152);

			& > i {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: 1.7rem;
			}
		}
	}
}
